{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="row">
		<div class="colonne-left large-4 columns">
			{% set image = page.media.images | first %}
			<img src="{{ image.url }}" alt="{{ page.slug }}" />		
		</div>
		<div class="right-scroll">
			<div class="colonne-central large-4 columns">
				{{ page.content }}	
			</div>
			<div class="colonne-right large-4 columns">
			{% for pictures in page.media.images|slice(1, length) %}
				{% set picture = pictures %}
				<li>
					<img src="{{ picture.url }}" alt="{{ page.slug }}" />
				</li>
			{% endfor %}
			</div>

		</div>
			
	</div>
    
{% endblock %}