{% extends 'partials/base.html.twig' %}

{% block content %}
	{% include 'partials/menu.html.twig' %}
	<div class="panzoom">
		<div id="dialog"></div>
    {% include 'partials/header.html.twig' %}
    <div class="carte-container">
    	<div class="cartes">
    		<img class="carte-route" src="{{ theme_url }}/images/carte-route3.png">
  			<img class="carte-expo" src="{{ theme_url }}/images/carte-block.svg">
    	</div>
    	<div class="img-expo">
    		{% for page in pages.children.visible %}
    			{% if page.children %}
      			{% for child in page.children.visible %}
      				{% if child.media.images is not empty%}
        				<div id="{{ child.menu |replace({' ': '',}) |replace({'+': '',}) |replace({'&': '',})}}">
        					<a href="{{child.url}}" alt="{{child.title}}">
	        					<h3>{{child.title}}</h3>
	        					<img src="{{child.media["bouton-desktop.png"]}}">
	        				</a>
        				</div>
      				{% endif %}
      			{% endfor %}
      		{% endif %}
    		{% endfor %}
    	</div>
  	</div>
  </div>
{% endblock %}