{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="panzoom">
		{# include the header + navigation #}
        {% include 'partials/header.html.twig' %}
        <div class="carte-container">
        	<div class="cartes">
        		<img class="carte-route" src="{{ theme_url }}/images/carte-route.svg">
	    			<img class="carte-expo" src="{{ theme_url }}/images/carte-block.svg">
        	</div>
        	<div class="img-expo">
        		{% for page in pages.children.visible %}
        			{% if page.children %}
	        			{% for child in page.children %}
	        				{% if child.media %}
		        				<div id="{{ child.menu |replace({' ': '',})}}">
		        					<a href="{{child.url}}" alt="{{child.title}}">
			        					<h3>{{child.title}}</h3>
			        					<img src="{{child.media["image.png"]}}">
			        				</a>
		        				</div>
	        				{% endif %}
	        			{% endfor %}
	        		{% endif %}
        		{% endfor %}
        	</div>
    	</div>
  	</div>
    {{ page.content }}
{% endblock %}