<nav class="navbar" role="navigation">       
    <ul class="sommaire">
      {% for page in pages.children.visible %}
        {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
        <li class="{{ page.title }}">
          <a href="{{ page.url }}">{{ page.menu }}</a>
          {% if page.children is not empty %}
            <ul class="submenu">
            {% for child in page.children %}
                  <li class="{{ current_page }} {{child.title |replace({' ': '',}) |replace({'&': '',}) |replace({'&': '',})}}">
                    <a href="{{ child.url }}">
                    {% if child.media.images is not empty%}
                      <img src="{{child.media["cover.png"]}}">
                    {% endif %}
                    </a>
                  </li>
            {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
</nav>