<nav class="navbar" role="navigation">       
    <ul class="sommaire">
      {% for page in pages.children.visible %}
        <li class="{{ page.title|lower}}">
          <a href="{{ page.url }}">
            <span class="element-menu">{{ page.menu }}</span>
            </a>
          {% if page.children is not empty %}
            <ul class="submenu">
            {% for child in page.children %}
                  <li class="{{child.title|lower|replace({' ': '','-':'','ü':'u'})|replace({'&': '',})|replace({'&': '',})}}">
                    <a href="{{ child.url |replace({'conference': 'home',})}}">
                    {% if child.media["cover.png"] is not empty%}
                      <img src="{{child.media["cover.png"]}}">
                    {% endif %}
                    <span class="title-sub">{{ child.menu }}</span>
                    </a>
                  </li>
            {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
</nav>